{% extends 'main/base.html' %}

{% block content %}
    {{ block.super }}
    {% if school %}
        <div class="lessons-list">
            {% if school.lessons.all %}
                {% for lesson in school.lessons.all %}
                    <a class="lessons-list-item" href="{% url 'lesson' school.slug lesson.position %}">
                        <img src="{{ lesson.cover.url }}" alt="Картинка">
                        <div class="lessons-list-item-text">
                            <h1>{{ lesson.title }}</h1>
                            <h3 class="lessons-list-item-description">{{ lesson.description }}</h3>
                            <p>Перейти к уроку?</p>
                        </div>
                    </a>
                {% endfor %}
            {% else %}
                <div style="background: white; width: 100%; min-width: 300px; min-height: 100px; text-align: center">
                    <h3>Модуль в разработке</h3>
                </div>
            {% endif %}
        </div>
    {% else %}
        {% include 'main/not_found.html' %}
    {% endif %}
{% endblock %}
