footer {
    width: 100%;
    height: var(--footer-height);
    background: white;
    box-sizing: border-box;
    padding: 100px 10vw 0;
}

.footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

.footer-questions {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-questions-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.2em;
}

.footer-questions form {
    display: grid;
    margin: 0 50px 25px 0;
    grid-template-areas: 'i1 i2' 'i3 i4' 't t';
    grid-gap: 30px;
    position: relative;
}

@media screen and (max-width: 600px) {
    .footer-questions form {
        grid-template-areas: 'i1' 'i2' 'i3' 'i4' 't';
    }
}

.footer-input {
    border: none;
    border-bottom: 1px black solid;
    padding: 0;
}
.footer-input:focus {
    outline: none;
}

input.footer-input:nth-child(1) {
    grid-area: i1;
}
input.footer-input:nth-child(2) {
    grid-area: i2;
}
input.footer-input:nth-child(3) {
    grid-area: i3;
}
input.footer-input:nth-child(4) {
    grid-area: i4;
}
textarea.footer-input {
    grid-area: t;
    resize: none;
    height: 100px;
}
.footer-questions button[type=submit] {
    position: absolute;
    bottom: 0;
    right: -15px;
    transform: translate(100%, 50%);
    width: 35px;
    height: 35px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}